<footer class="site-footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="foot-about">
            <a class="foot-logo" href="#">
              <%=image_tag( "images/foot-logo.png") %>
            </a>

            <p><%= t ".str1" %> </p>


          </div>
          <!-- .foot-about -->
        </div>
        <!-- .col -->

        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
          <div class="foot-contact">
            <h2><%= t ".contact" %></h2>

            <ul>
              <li><%= t ".email" %></li>
              <li><%= t ".phone" %></li>
              <li><%= t ".address" %></li>
            </ul>
          </div>
          <!-- .foot-contact -->
        </div>
        <!-- .col -->

        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
          <div class="quick-links flex flex-wrap">
            <h2 class="w-100"><%= t ".quick_link" %></h2>

            <ul class="w-50">
              <li><a href="#"><%= t ".about" %></a>
              </li>
              <li><a href="#"><%= t ".ToU" %> </a>
              </li>
              <li><a href="#"><%= t ".PP" %></a>
              </li>
              <li><a href="#"><%= t".CU" %></a>
              </li>
            </ul>

            <ul class="w-50">
              <li><a href="#"><%= t".document" %></a>
              </li>
              <li><a href="#"><%= t".forum" %></a>
              </li>
              <li><a href="#"><%= t".LP" %></a>
              </li>
              <li><a href="#"><%= t".RS" %></a>
              </li>
            </ul>
          </div>
          <!-- .quick-links -->
        </div>
        <!-- .col -->

        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
          <div class="follow-us">
            <h2><%= t".follow" %></h2>

            <ul class="follow-us flex flex-wrap align-items-center">
              <li><a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
            </ul>
          </div>
          <!-- .quick-links -->
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .footer-widgets -->

  <div class="footer-bar">
    <div class="container">
      <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-center">
        <div class="col-12 col-lg-6">
          <div class="download-apps flex flex-wrap justify-content-center justify-content-lg-start align-items-center">
            <a href="#">
              <%=image_tag( "images/app-store.png") %>
            </a>
            <a href="#">
              <%=image_tag( "images/play-store.png") %>
            </a>
          </div>
          <!-- .download-apps -->

        </div>

        <div class="col-12 col-lg-6 mt-4 mt-lg-0">
          <div class="footer-bar-nav">
            <ul class="flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
              <li><a href="#"><%= t".DPA" %></a>
              </li>
              <li><a href="#"><%= t".ToU" %></a>
              </li>
              <li><a href="#"><%= t".PP" %></a>
              </li>
            </ul>
          </div>
          <!-- .footer-bar-nav -->
        </div>
        <!-- .col-12 -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .footer-bar -->
</footer>
<!-- .site-footer -->

</body>
